{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

    <main class="main">
        <div class="page-header mt-30 mb-75">
            <div class="container">
                <div class="archive-header">
                    <div class="row align-items-center">
                        <div class="col-xl-3">
                            <h1 class="mb-15">Categorias</h1>
                            <div class="breadcrumb">
                                <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Inicio</a>
                                <span></span> Categorias
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="loop-grid pr-30">
                            <div class="row">
                                {% for category in categories %}
                                <article class="col-xl-4 col-lg-6 col-md-6 text-center hover-up mb-30 animated">
                                    <div class="post-thumb">
                                        <a href="{% url 'core:category-product-list' category.category_id %}">
                                            <img style="height: 300px; width: 300px; object-fit: cover;" class="border-radius-15" src="{{ category.image.url }}" alt="" />
                                        </a>
                                        <div class="entry-meta">
                                            <a class="entry-meta meta-2" href="#"><i class="fi-rs-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="entry-content-2">
                                        <a href="{% url 'core:category-product-list' category.category_id %}">
                                            <h4 class="post-title mb-15">
                                                {{ category.title }}
                                            </h4>
                                        </a>
                                        <div class="entry-meta font-xs color-grey mt-10 pb-10">
                                            <div>
                                                <span class="hit-count mr-10">{{ category.category.count }} Produto{{ category.category.count|pluralize }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <div class="widget-area">
                            <div class="sidebar-widget-2 widget_search mb-50">
                                <div class="search-form">
                                    <form action="#">
                                        <input type="text" placeholder="Search…" />
                                        <button type="submit"><i class="fi-rs-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="sidebar-widget widget-category-2 mb-50">
                                <h5 class="section-title style-1 mb-30">Categorias</h5>
                                <ul>
                                    {% for category in categories %}
                                    <li>
                                        {{ category.title }}<span class="count">{{ category.category.count }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}
